<div class="chat-box">
    <ul id="messages" class="chat-messages">
        <li class="message">
            <div class="message-title">
                <h4 class="message-sender">From</h4>
                <span class="message-time">10:45 AM</span>
            </div>
            <div class="message-body">
                <p>This is the message</p>
            </div>
        </li>
        <li class="message">
            <div class="message-title">
                <h4 class="message-sender">From</h4>
                <span class="message-time">10:45 AM</span>
            </div>
            <div class="message-body">
                <p>This is the message</p>
            </div>
        </li>
        <li class="message">
            <div class="message-title">
                <h4 class="message-sender">From</h4>
                <span class="message-time">10:45 AM</span>
            </div>
            <div class="message-body">
                <p>This is the message</p>
            </div>
        </li>
        <li class="message">
            <div class="message-title">
                <h4 class="message-sender">Pratyush</h4>
                <span class="message-time">10:45 AM</span>
            </div>
            <div class="message-body">
                <p>How are you Doing??</p>
            </div>
        </li>
        <li class="message">
            <div class="message-title">
                <h4 class="message-sender">From</h4>
                <span class="message-time">10:45 AM</span>
            </div>
            <div class="message-body">
                <p>This is the message i have sent you this morning</p>
            </div>
        </li>
        <li class="message">
            <div class="message-title">
                <h4 class="message-sender">From</h4>
                <span class="message-time">10:45 AM</span>
            </div>
            <div class="message-body">
                <p>This is the message</p>
            </div>
        </li>
    </ul>
    <div class="chat-input-container">
        <input type="text" name="" placeholder="Type a message here.." class="chat-box-input"
            id="messageContent">
        <div class="chat-box-message-btn">
            <span class="material-icons">
                send
            </span>
        </div>
    </div>
</div>