<div id="modal-overlay"></div>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">
            <span class="brand-logo-upper">GIM</span>
            <span class="brand-logo-lower">ARENA</span>
        </a>
        <ul id="" class="nav-links">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/games">Games</a>
            </li>
            <li>
                <a href="/chat">Social</a>
            </li>
        </ul>

        <ul class=" nav-right">
            <% if(!currentUser) { %>
                <li>
                    <form action="/login">
                        <button class="nav-btn btn">Login</button>
                    </form>
                </li>
                <li>
                    <form action="/register">
                        <button class="nav-btn btn">Register</button>
                    </form>
                </li>
                <% } else { %>
                    <div id="nav-search" class="search-bar">
                        <input type="text" placeholder="Search.." id="search" autocomplete="off">
                        <div id="modal-container">
                            <div class="modal" id="search-modal">
                            </div>
                        </div>
                    </div>
                    <li>
                        <form action="/logout">
                            <button class="nav-btn btn">Logout</button>
                        </form>
                    </li>
                    <% } %>
        </ul>
    </div>
</nav>
</nav>
<script src="/javascript/navbar.js"></script>