<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">
            <span class="brand-logo-upper">GIM</span>
            <span class="brand-logo-lower">ARENA</span>
        </a>
        <ul id="" class="nav-links">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/games">Games</a>
            </li>
            <li>
                <a href="/chat">Social</a>
            </li>
        </ul>
        <ul class=" nav-right">
            <li>
                <form action="/login">
                    <button class="nav-btn btn">Login</button>
                </form>
            </li>
            <li>
                <form action="/register">
                    <button class="nav-btn btn">Register</button>
                </form>
            </li>
            <li>
                <form action="/play/Uba/create">
                    <button class="nav-btn btn">Create Game</button>
                </form>
            </li>
            <li>
                <form action="/play/Uba/join">
                    <button class="nav-btn btn">Join Game</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
</nav>