<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>
        <section class="gameslist-showSection">
            <div class="gameslist-showSection-content">
                <h2 class="gameslist-showSection-heading">What are you waiting for?</h2>
                <p class="gameslist-showSection-text">
                    Start playing now for never ending fun!<br>
                    Experience the fun of offline games sitting at your home with your friends all around the world
                </p>
            </div>
            <div class="swiper mySwiper gameslist-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide swiper-slide-1">
                    <!-- <img src="https://swiperjs.com/demos/images/nature-1.jpg" /> -->
                    <h3 class="game-card-heading">
                        5 In A Row
                    </h3>
                    <p class="game-card-text">
                        A classic game of 5 in a row.
                        A classic game of 5 in a row.
                        A classic game of 5 in a row.
                        A classic game of 5 in a row.
                        
                    </p>
                    <div>
                        <span>lasdfj</span>
                        <span>lasdfj</span>
                    </div>
                    <button class="game-card-btn btn">
                        Play Now
                    </button>
                  </div>
                  <div class="swiper-slide">
                    <!-- <img src="https://swiperjs.com/demos/images/nature-1.jpg" /> -->
                    hiiii
                  </div>
                  <div class="swiper-slide">
                    <!-- <img src="https://swiperjs.com/demos/images/nature-1.jpg" /> -->
                  </div>
                  <!-- <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                  </div>
                  <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                  </div>
                  <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                  </div>
                  <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                  </div>
                  <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                  </div>
                  <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                  </div>
                  <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                  </div>
                  <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                  </div>
                </div> -->
                <div class="swiper-pagination"></div>
              </div>
        </section>

          
        <%- include('partials/footer.ejs')%>