@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700);

:root {
    --primary-color: #b35959;
    --primary-text-color: #ac5555;
    --primary-button-background: #c77373;
    --opposite-color: #487E91;
    --ax : 20deg;
    --ay : 20deg;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.moving-background {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.moving-background .row {
    position: relative;
    top: -50%;
    width: 100%;
    display: flex;
    white-space: nowrap;
    font-size: 64px;
    transform: rotate(-30deg);
}

.moving-background .icon {
    position: relative;
    display: inline-block;
    height: 70px;
    width: 70px;
    transition: 1s;
    padding: 0px 5px;
    user-select: none;
    cursor: default;
}

.moving-background .icon:hover {
    filter: drop-shadow(0 0 50px #994040) drop-shadow(0 0 100px var(--primary-button-background));
    transition: 0s;
}

.moving-background .icon>* {
    fill: #0000007f;
}

.moving-background .icon:hover>* {
    fill: #994040;
}

.moving-background .row div {
    animation: moving-row1 80s linear infinite;
    animation-delay: -80s;
}

.moving-background .row div:nth-child(2) {
    animation: moving-row2 80s linear infinite;
    animation-delay: -40s;
}

@keyframes moving-row1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes moving-row2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}

.moving-background .row:nth-child(even) div {
    animation: moving-row3 80s linear infinite;
    animation-delay: -80s;
}

.moving-background .row:nth-child(even) div:nth-child(2) {
    animation: moving-row4 80s linear infinite;
    animation-delay: -40s;
}

@keyframes moving-row3 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes moving-row4 {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 3;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

.modal-overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000007e;
    transition: 200ms ease-in-out;
    z-index: 2;
    pointer-events: none;
}

.modal-overlay.active {
    opacity: 1;
    pointer-events: all;
}

.btn {
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    color: #f5f5f5;
    background-color: var(--primary-button-background);
}

.game-btn {
    border: 2px solid black;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 0.3s ease-in-out;

}

.game-btn-active, .game-btn-disabled {
    box-shadow: black 4px 4px 0 0;
}

.game-btn-active:hover {
    background-color: #4cbb17;
    box-shadow: black 0 -1px 0 0;
    color: white;
}

.game-btn-disabled:hover {
    background-color: #ff0000;
    box-shadow: black 0 -1px 0 0;
    color: white;
}


/* Nav */
.nav-wrapper {
    font-family: 'Open Sans';
    background-color: #f5f5f5;
    height: 60px;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    padding: 0px 20px;
}

.nav-wrapper .logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.nav-wrapper .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    list-style: none;
    color: var(--primary-text-color);
}

.nav-wrapper .nav-links a {
    font-size: 20px;
    font-weight: bold;
    color: inherit;
    cursor: pointer;
    height: 100%;
    text-decoration: none;
    display: inline-block;
    padding: 15px 0px;
}

.nav-wrapper .nav-links li {
    display: inline-block;
    padding: 0 20px;
    height: 100%;
    transition: 0.3s;

}

.nav-wrapper .nav-links li:hover {
    color: #f5f5f5;
    background-color: var(--primary-color);
}

.nav-wrapper .nav-right {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100%;
    padding: 8px;
    list-style: none;
}

.nav-wrapper .nav-right li {
    display: inline-block;
    padding: 0 20px;
    height: 100%;
    transition: 0.3s;
}

.nav-wrapper .brand-logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    line-height: 0.9;
    color: black;
    font-family: monospace;
    transition: all 0.3s ease-in-out;
}

.nav-wrapper .brand-logo:hover {
    transform: scale(1.05);
}

.nav-wrapper .brand-logo .brand-logo-upper {
    font-size: 30px;
}

.nav-wrapper .brand-logo .brand-logo-lower {
    font-size: 17px;
    letter-spacing: 1.3px;
}

/* Nav end */

.home-main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-section-fullwidth {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url('/images/back.jpg') no-repeat; */
    background-color: var(--primary-color);
    padding-bottom: 50px;
    background-size: cover;
    position: relative;
}

.home-section-fullwidth-content {
    width: 50%;
    min-width: 500px;
    height: 100%;
    border: 6px solid black;
    box-shadow: var(--primary-button-background) 6px 6px 0 0;
    padding: 25px;
    background-color: #f5f5f5;
    position: relative;
    left: 40px;
    transform: rotate(2deg);
    transform: skewY(-2deg);
    z-index: 1;

}

.home-section-heading {
    font-size: 53px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%;
    padding-bottom: 20px;
    line-height: 0.9;
    color: var(--primary-text-color);
    font-family: monospace;
}

.home-section-text {
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50%;

    line-height: 1.1;
    color: black;
    font-family: 'Open Sans';
}

.home-section-fullwidth-img {
    position: relative;
    left: -40px;
    transform: scale(1.5);
    opacity: 0.7;
    z-index: 1;

}

.home-section-btn {
    margin-top: 25px;
    color: black;
}

.section-fullwidth-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/backdrop.png') repeat;
    z-index: 0;
}

.home-section-2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.home-section-2-sub-1 {
    width: 45%;
    min-width: 500px;
    height: 100%;
    border: 6px solid black;
    box-shadow: var(--primary-button-background) 6px 6px 0 0;
    padding: 25px;
    background-color: #f5f5f5;
    transform: rotate(2deg);
    transform: skewY(-2deg);
    z-index: 1;
    position: relative;
}

.home-section-2-sub-2 {
    width: 45%;
    min-width: 500px;
    height: 100%;
    border: 6px solid black;
    box-shadow: var(--primary-button-background) 6px 6px 0 0;
    padding: 25px;
    background-color: #f5f5f5;
    transform: rotate(2deg);
    transform: skewY(-2deg);
    z-index: 1;
    position: relative;
}

.home-section-list {
    list-style-type: decimal;
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-family: 'Open Sans';
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}

.home-section-2-img {
    position: absolute;
    opacity: 0.7;
    z-index: -1;
    left: calc(50%);
    top: 0;
    height: 100%;
}

.home-section-picture-up {
    transform: translateY(20px);
    transition: 1s ease-in-out;
}

.home-section-picture-down {
    transform: translateY(-20px);
    transition: 1s ease-in-out;
}

.home-section-3-content {
    transform: rotate(0deg);
    transform: skewY(0deg);
    border: 3px solid black;
    border-radius: 10px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 80px -20px inset, rgba(0, 0, 0, 0.3) 0px 30px 50px -25px inset; */
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 1);
}


.home-section-3-img {
    opacity: 0.8;
}

.home-section-3-content {
    background-color: #f5f5f5;
}


.gameslist-showSection {
    position: relative;
    /* padding: 100px 0px; */
    background: url('/images/backdrop.png') repeat, linear-gradient(45deg, var(--primary-color), var(--primary-text-color));
    /* Have to take advice */
    background-blend-mode: soft-light;
    display: flex;
    justify-content: center;
    height: 500px;
    padding: 20px 0px;
    /* align-items: center; */
    margin: 0 50px;
    border-radius: 50px;
}

.gameslist-showSection-content {
    /* background-color: white; */
    color: black;

    font-weight: 600;
    padding: 20px;
    width: 90%;
    max-width: 550px;
    text-align: center;

}

.gameslist-showSection::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    display: block;
    background: linear-gradient(-45deg,
            transparent 33.33%,
            #fff 33.33%,
            #fff 66.66%,
            transparent 66.66%),
        linear-gradient(45deg,
            transparent 33.33%,
            #fff 33.33%,
            #fff 66.66%,
            transparent 66.66%);
    background-size: 20px 40px;
}


.gameslist-showSection::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    display: block;
    background: linear-gradient(-45deg,
            transparent 33.33%,
            #fff 33.33%,
            #fff 66.66%,
            transparent 66.66%),
        linear-gradient(45deg,
            transparent 33.33%,
            #fff 33.33%,
            #fff 66.66%,
            transparent 66.66%);
    background-size: 30px 60px;
    transform: rotate(180deg);
}

.gameslist-showSection-heading {
    font-size: 40px;
    font-weight: bold;
    border-radius: 50%;
    padding-bottom: 20px;
    line-height: 0.9;
    color: black;
    font-family: monospace;
}

.gameslist-showSection-text {
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50%;

    line-height: 1.1;
    color: black;
    font-family: 'Open Sans';
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 25px;
}

.swiper-slide::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.swiper-slide-1::after {
    opacity: 0.8;
    background: url('/images/cubes.jpg');
    background-size: cover;
}

/* .swiper-slide::after{
    background: url('/images/auction.png'),linear-gradient(45deg, rgb(141, 5, 5),rgb(209, 58, 58));
    background-blend-mode: color-dodge;
    background-size: cover;
    
} */
.gameslist-swiper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 0;
    bottom: -50%;
}

.game-card-heading {
    font-size: 30px;
    font-weight: 600;
    color: black;
    font-family: monospace;
}

.game-card-text {
    font-size: 20px;
    font-weight: 600;
    color: black;
    font-family: 'Open Sans';
}

.fiveInARow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    width: 100%;
}

.fiveInARow .left-sidebar {
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    /* align-self: flex-start; */
}

.fiveInARow .left-sidebar .start-info {
    width: 100%;
    /* height: 50%; */
    background-color: #7F5179;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
}

.left-sidebar .start-info>* {
    margin: 5px;
}

.left-sidebar .roomId-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-sidebar .roomId .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: monospace;
    border-radius: 50px;
}

.left-sidebar .roomId .overlay:hover {
    display: none;
    cursor: pointer;
}

.left-sidebar .roomId {
    font-size: 8px;
    font-weight: 900;
    width: 180px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    font-family: monospace;
    position: relative;

}

.left-sidebar .roomId:hover {
    display: block;
    cursor: pointer;
}

.left-sidebar .roomId-copy-icon {
    color: white;
    margin: 5px;
    font-size: 20px;
}

.left-sidebar .roomId-copy-icon:hover {
    cursor: pointer;
    color: whitesmoke;
}

.left-sidebar .count-container {
    font-size: 20px;
    font-weight: 600;
    color: black;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #7F5179;
}

.left-sidebar .history {
    width: 100%;
    height: 100%;
    background-color: #49af99;
    background-color: var(--primary-button-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
    overflow-y: scroll;
}

.left-sidebar .history::-webkit-scrollbar {
    display: none;
}

.left-sidebar .game-history-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 10px 10px 10px rgba(65, 26, 26, 0.5);
    filter: blur(10px);
    background: inherit;
}

.left-sidebar .game-history-card {
    background: inherit;
    position: relative;
    padding: 10px;
    margin: 20px;
    list-style-type: none;
    font-family: monospace;
}

.copied.copied.copied {
    text-align: center;
    color: yellow;
    font-size: 12px;
}

.game-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.fiveInARow .main-content {
    /* width: 60%; */
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('/images/fiveInARow-bg.jfif') no-repeat;
    background-size: cover;
}

.right-sidebar {
    width: 21%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-sidebar .players-list {
    width: 100%;
    height: 40%;
    background-color: #7F5179;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.right-sidebar .players-list::-webkit-scrollbar {
    display: none;
}

.right-sidebar .players-list h3 {
    font-size: 40px;
    font-weight: 600;
    color: black;
    font-family: monospace;
    text-align: center;
}

.right-sidebar .players {
    list-style-type: none;
}

.right-sidebar .player-card {
    border: 2px solid black;
    height: 50%;
    background-color: white;
    margin: 20px;
    padding: 5px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans';
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-sidebar .player-card .player-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid black;
}

.right-sidebar .chat-box {
    width: 100%;
    height: 60%;
    border-top: 2px solid black;
    background-color: #f5f5f5;

}

.right-sidebar .chat-box .chat-messages {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    overflow-y: scroll;

}

.right-sidebar .chat-box .chat-messages::-webkit-scrollbar {
    display: none;
}

.right-sidebar .chat-box .message {
    padding: 3px 10px;
    border-radius: 2px;
    width: 100%;
    border: 0px;
    border-left: 5px;
    border-color: green;
    border-style: solid;
    margin-bottom: 2px;
    font-family: monospace;
    font-size: 16px;
}

.right-sidebar .chat-box .message-title {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.right-sidebar .chat-box .message-sender {
    font-weight: 500;
    margin-right: 10px;
    font-size: 22px;
}

.right-sidebar .chat-box .message-time {
    color: #999;
    font-size: 16px;
}

.right-sidebar .chat-box .chat-input-container {
    width: 100%;
    height: 12%;
    position: relative;
}

.right-sidebar .chat-box-message-btn {
    position: absolute;
    top: 2.5px;
    right: 10px;
    margin: 2px;
    color: green;
}

.right-sidebar .chat-box-input {
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    border-radius: 2px;
    transform: scale(0.95);
    padding: 15px;
    font-size: 18px;
    font-family: monospace;
    padding-right: 40px;
    padding-left: 10px;
    /* border: 2px solid black; */
    border: 1px solid #999;
}


.tooltip {
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted #666;
    text-align: left;
}

.tooltip .bottom {
    min-width: 40px;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 8px 18px;
    color: #FFFFFF;
    background-color: #555555;
    font-weight: normal;
    font-size: 14px;
    border-radius: 8px;
    position: absolute;
    white-space: nowrap;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.tooltip:hover .bottom {
    visibility: visible;
    opacity: 1;
}

.tooltip .bottom i {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.tooltip .bottom i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: #555555;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.hidden.hidden.hidden {
    display: none;
}

.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    perspective: 1000px;
    transform-style: preserve-3d;
    /* overflow: hidden; */
}

.form-background {
    /* background-color: rgba(0,0,0,0.6);
    z-index: 1;
    width: 300px;
    height: 400px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px; */
    padding: 20px;
    background: inherit;
    width: 400px;
    height: 400px;
    z-index: 10;
    border-radius: 10px;
    /* overflow: hidden; */
    overflow-y: scroll;
    
    /* transform: translate(-50); */

    /* pointer-events: none; */
    backface-visibility: hidden;
    
}
/* .form-background ,.form-background *{
    transform-style: preserve-3d;
} */

.form-background::before {
    content: " ";
    z-index: -1;
    width: 300px;
    height: 400px;
    background: inherit;
    position: absolute;
    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden; */
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
    filter: blur(200px);
}

.form-heading {
    color: white;
    font-family: 'Open Sans';
    font-size: 24px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
}

.form-field label {
    font-size: 18px;
    padding: 5px 0px;
    font-family: 'Open Sans';
}

.form-field input {
    width: 100%;
    height: 32px;
    /* border: 1px solid white; */
    border: none;
    border-radius: 2px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Open Sans';
}

.chat-page{
    background-color: #f5f5f5;
    height: calc(100vh - 60px);
    display: flex;
    overflow-y: hidden;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;

}

.friends-list-container{
    display: flex;
    width: 25%;
    height: calc(100vh - 120px);
    background-color: white;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 20px;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.247);
    padding: 5px;
    margin-right: 20px;

}
.friends-list-container::-webkit-scrollbar{
    display: none;
}

.friend-container{
    /* height: 70px; */
    display: flex;
    /* border: 2px solid black; */
    margin: 2px 0;
    align-items: center;
    padding: 5px;
    padding-bottom: 0;
    position: relative;
}

.friend-details-container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 100%;
    padding-bottom: 10px;
}

.friend-avatar{
    width: 60px;
    height:60px;
    border-radius: 50%;
    margin-right: 10px;
    /* border: 2px solid black; */
}

.friend-name h3{
    font-size: 18px;
    font-family: 'Open Sans';
    margin: 0;
}

.friend-last-message{
    font-size: 14px;
    font-family: 'Open Sans';
    margin: 0;
    margin-top: 5px;
}

.friend-last-message-time{
    font-size: 14px;
    font-family: 'Open Sans';
    margin: 0;
    margin-top: 5px;
    font-weight: bold;
    position:  absolute;
    right: 5px;
    top: 2px;
}

.is-friend-online{
    position: absolute;
    right: 8px;
    bottom: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: bold;
    width: 15px;
    height: 15px;
    z-index:3;
    border-radius: 50%;
}

.is-friend-online.online{
    background-color: #00ff00;
}

.is-friend-online.offline{
    background-color: #c3c3c3;
}

.friend-avatar-container{
    position: relative;
}

.chat-container{
    display: flex;
    /* width: 65%; */
    flex: 1;
    height: calc(100vh - 120px);
    background-color: white;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 20px;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.247);
    padding: 5px;
}

.chat-header-data{
    display: flex;
    align-items: flex-start;
}
.chat-header-data-friendImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 20px;
    /* border: 2px solid black; */
}

.chat-header-data-friendName{
    font-size: 24px;
    font-family: 'Open Sans';
    margin: 0;
}

.chat-input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
}

.chat-input-field{
    /* height: 100%; */
    border: none;
    border-radius: 20px;
    padding: 5px; 
    padding-left: 20px;   
    font-size: 16px;
    font-family: 'Open Sans';
    height: 100%;
    /* width: 100%; */
    flex: 1;
    background-color: #f5f5f5;
    margin: 0 5px;
}

.chat-input-field:focus{
    outline: none;
}


.chat-message-container{
    flex: 1;
    width: 100%;
    display: flex;  
    flex-direction: column;
}

.message-container{
    max-width: 60%;
    /* min-width: 200px; */
    background-color: green;
    border: 1px solid black;
    padding: 8px 16px;
    margin-bottom: 10px;
    border-radius: 10px;

}
.message-container-sent{
    background-color: #f5f5f5;
    align-self: flex-end;
    border-top-right-radius: 0px;
}

.message-container-received{
    background-color: #00ff00;
    align-self: flex-start;
    border-top-left-radius: 0px;
}

.message-send-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 1px solid black; */
    background-color: #3BA58A;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.message-send-button span{
    transform: rotate(-35deg) translate(3px, -1px);
    color: white;
    font-size: 32px;
}