<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../partials/movingBg.ejs') %>
    <section class="form-page">
        <section class="form-background card">
            <div class="form-heading">
                <h2>
                    Register
                </h2>
            </div>
            <form action="/register" method="POST" class="form-fields">
                <div class="form-field-half-container">
                    <div class="form-field form-field-half">
                        <label for="firstname">First Name</label>
                        <input type="text" name="firstName" id="firstname" placeholder="Firstname">
                    </div>
                    <div class="form-field form-field-half">
                        <label for="lastName">Last Name</label>
                        <input type="text" name="lastName" id="lastname" placeholder="Lastname">
                    </div>
                </div>
                <div class="form-field">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="Email">
                </div>
                <div class="form-field">
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="form-field">
                    <label for="password">Password</label>
                    <input type="passwocrd" name="password" placeholder="Password">
                </div>
                <div class="form-field-input">
                    <input type="submit" name="submit" id="submit" value="Register" class="btn btn-submit" />
                </div>
            </form>
        </section>
    </section>
    <script src="/javascript/hoveringForm.js"></script>

</body>

</html>