<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <section class="moving-background">
        <% for(let i=0;i<20;i++) { %>
            <div class="row">
                <% for(let j=0;j<3;j++) { %>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon">
                            <path
                                d="M28,8.47a2,2,0,0,1,0,4,1.77,1.77,0,0,1-.4-.08l-.53-.18a1.8,1.8,0,0,1-.6-.49l-.34-.55a1.89,1.89,0,0,1-.15-.72A2,2,0,0,1,28,8.47Zm-12-2a1.87,1.87,0,0,1,1.87,1.86,1.83,1.83,0,0,1-.83,1.51L16.7,10a2,2,0,0,1-.69.14,1.83,1.83,0,0,1-.7-.15l-.2-.12a1.83,1.83,0,0,1-1-1.6A1.86,1.86,0,0,1,16,6.45Zm-4,9.89,3.05-4.92a2.9,2.9,0,0,0,1.9,0L20,16.34l5.68-3.53a3.21,3.21,0,0,0,.58.45l-2.7,8.11H8.45l-2.7-8.11a3.21,3.21,0,0,0,.58-.45ZM4,8.78a1.7,1.7,0,0,1,1.71,1.71,1.74,1.74,0,0,1-.12.61l-.29.47A1.7,1.7,0,1,1,4,8.78ZM23.63,25.72H8.4V23.54H23.63Z"
                                data-name="Layer 19" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 100 100"
                            viewBox="0 0 100 100" class="icon">
                            <path d="M27.3,46H26V18h38.7c-4.1,3.3-6.7,8.3-6.7,13.9c-7.7,0-15.5,2.5-21.9,7.4L27.3,46z M10,32c0,7,5.2,12.9,12,13.9V18.1
                    C15.2,19.1,10,25,10,32z M62,32.1c4.1,0.5,8.2,1.6,12,3.5V18.1C67.2,19.1,62,25,62,32.1L62,32.1z M38.5,42.5L33.9,46h48.2l-4.6-3.5
                    C66,33.7,50,33.7,38.5,42.5z M90,50v32H42V50H90z M68,58c0-1.1-0.9-2-2-2s-2,0.9-2,2v4c0,1.1,0.9,2,2,2s2-0.9,2-2V58z M26,82h12V50
                    H26V82z" />
                        </svg>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                            <path
                                d="M25.79,18A11,11,0,1,0,6.21,18l-5,6.63,5.36,1L9,30.49l5-6.67a10.76,10.76,0,0,0,3.92,0l5,6.67,2.44-4.88,5.36-1Zm1.44,5.24-2.07.38-1.83-2.44a11.38,11.38,0,0,0,1.3-1.39ZM7.37,19.79a11.38,11.38,0,0,0,1.3,1.39L6.84,23.62l-2.07-.38Zm2,6.91-.93-1.88,1.83-2.45a10.94,10.94,0,0,0,1.71.86ZM7,13a9,9,0,1,1,9,9A9,9,0,0,1,7,13ZM22.63,26.7,20,23.23a10.94,10.94,0,0,0,1.71-.86l1.83,2.45ZM16,9.88l-2,1-3-1.5V17H21V9.38l-3,1.5ZM19,15H13V12.62l1,.5,2-1,2,1,1-.5Z"
                                data-name="Layer 34" />
                        </svg>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64"
                            viewBox="0 0 64 64">
                            <path
                                d="M3 62h47c.553 0 1-.448 1-1V8c0-.552-.447-1-1-1h-3V6c0-2.206-1.794-4-4-4s-4 1.794-4 4v1h-2V6c0-2.206-1.794-4-4-4s-4 1.794-4 4v1h-2V6c0-2.206-1.794-4-4-4s-4 1.794-4 4v1h-2V6c0-2.206-1.794-4-4-4S9 3.794 9 6v1H3C2.447 7 2 7.448 2 8v53C2 61.552 2.447 62 3 62zM41 6c0-1.103.897-2 2-2s2 .897 2 2v1h-4V6zM31 6c0-1.103.897-2 2-2s2 .897 2 2v1h-4V6zM21 6c0-1.103.897-2 2-2s2 .897 2 2v1h-4V6zM11 6c0-1.103.897-2 2-2s2 .897 2 2v1h-4V6zM4 9h5v2.142c-1.721.447-3 2-3 3.858 0 2.206 1.794 4 4 4s4-1.794 4-4c0-1.858-1.279-3.411-3-3.858V9h8v2.142c-1.721.447-3 2-3 3.858 0 2.206 1.794 4 4 4s4-1.794 4-4c0-1.858-1.279-3.411-3-3.858V9h8v2.142c-1.721.447-3 2-3 3.858 0 2.206 1.794 4 4 4s4-1.794 4-4c0-1.858-1.279-3.411-3-3.858V9h8v2.142c-1.721.447-3 2-3 3.858 0 2.206 1.794 4 4 4s4-1.794 4-4c0-1.858-1.279-3.411-3-3.858V9h8v51H4V9zM11 13.278c.595.347 1 .985 1 1.722 0 1.103-.897 2-2 2s-2-.897-2-2c0-.737.405-1.375 1-1.722V15h2V13.278zM21 13.278c.595.347 1 .985 1 1.722 0 1.103-.897 2-2 2s-2-.897-2-2c0-.737.405-1.375 1-1.722V15h2V13.278zM31 13.278c.595.347 1 .985 1 1.722 0 1.103-.897 2-2 2s-2-.897-2-2c0-.737.405-1.375 1-1.722V15h2V13.278zM41 13.278c.595.347 1 .985 1 1.722 0 1.103-.897 2-2 2s-2-.897-2-2c0-.737.405-1.375 1-1.722V15h2V13.278zM58 2c-2.206 0-4 1.794-4 4v5 45c0 .181.049.359.143.515l3 5C57.323 61.816 57.648 62 58 62s.677-.184.857-.485l3-5C61.951 56.359 62 56.181 62 56V11 6C62 3.794 60.206 2 58 2zM56 6c0-1.103.897-2 2-2s2 .897 2 2v4h-4V6zM56 16h4v36h-4V16zM56 14v-2h4v2H56zM58 59.056l-2-3.333V54h4v1.723L58 59.056z" />
                            <path d="M43,21H9c-0.553,0-1,0.448-1,1v33c0,0.552,0.447,1,1,1h34c0.553,0,1-0.448,1-1v-2h-2v1h-9v-9h9v6h2V22
                    C44,21.448,43.553,21,43,21z M42,32h-9v-9h9V32z M21,34h10v9H21V34z M19,43h-9v-9h9V43z M21,32v-9h10v9H21z M19,23v9h-9v-9H19z
                    M10,45h9v9h-9V45z M31,54H21v-9h10V54z M33,43v-9h9v9H33z" />
                            <polygon
                                points="12.707 30.707 14.5 28.914 16.293 30.707 17.707 29.293 15.914 27.5 17.707 25.707 16.293 24.293 14.5 26.086 12.707 24.293 11.293 25.707 13.086 27.5 11.293 29.293" />
                            <polygon
                                points="29.707 36.707 28.293 35.293 26.5 37.086 24.707 35.293 23.293 36.707 25.086 38.5 23.293 40.293 24.707 41.707 26.5 39.914 28.293 41.707 29.707 40.293 27.914 38.5" />
                            <polygon
                                points="17.707 47.707 16.293 46.293 14.5 48.086 12.707 46.293 11.293 47.707 13.086 49.5 11.293 51.293 12.707 52.707 14.5 50.914 16.293 52.707 17.707 51.293 15.914 49.5" />
                        </svg>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 511.945 511.939"
                            viewBox="0 0 511.945 511.939">
                            <path
                                d="M72.434 124.831c1.252-1.252 2.373-2.583 3.435-3.944l17.087 17.087c11.03-18.435 25.088-34.85 41.494-48.554l-13.559-13.559c1.38-1.075 2.726-2.214 3.996-3.483 16.504-16.504 16.554-43.378 0-59.932-16.603-16.603-43.478-16.553-59.982-.05C53.637 23.665 49.997 39.67 54.036 54.08c-14.36-4.089-30.315-.499-41.584 10.769-16.603 16.603-16.603 43.428 0 60.032C29.006 141.434 55.831 141.434 72.434 124.831zM391.047 75.863l-13.619 13.619c16.403 13.713 30.481 30.135 41.539 48.509l17.101-17.101c1.062 1.36 2.185 2.69 3.437 3.942 16.604 16.603 43.428 16.603 60.032 0 16.553-16.554 16.553-43.378-.05-59.982-11.268-11.268-27.323-14.858-41.584-10.769 4.039-14.31.449-30.365-10.869-41.683-16.504-16.504-43.378-16.554-59.932 0-16.604 16.603-16.553 43.478-.05 59.982C388.321 73.647 389.667 74.787 391.047 75.863zM439.555 387.046c-1.269 1.268-2.409 2.615-3.484 3.995l-34.304-34.304c-9.027 10.747-19.272 20.671-30.814 29.462-5.772 4.409-10.62 9.594-14.461 15.311l34.552 34.552c-1.36 1.063-2.689 2.185-3.942 3.437-16.603 16.604-16.603 43.428 0 60.032 16.553 16.554 43.378 16.554 59.982-.05 11.268-11.268 14.858-27.323 10.77-41.583 14.31 4.039 30.365.449 41.683-10.87 16.504-16.504 16.554-43.378 0-59.932C482.933 370.492 456.058 370.542 439.555 387.046zM142.128 387.102c-11.982-8.992-22.689-19.166-32.028-30.294l-34.233 34.233c-1.075-1.379-2.214-2.726-3.483-3.996-16.504-16.504-43.378-16.553-59.932 0-16.603 16.604-16.553 43.478-.05 59.982 11.268 11.268 27.274 14.908 41.683 10.87-4.089 14.36-.499 30.315 10.769 41.583 16.604 16.604 43.428 16.604 60.032 0 16.554-16.553 16.554-43.378-.05-59.982-1.252-1.252-2.583-2.373-3.944-3.435l34.607-34.607C151.882 395.943 147.405 391.049 142.128 387.102z" />
                            <path
                                d="M364.351,377.534c48.513-36.949,77.635-98.154,69.103-165.634C423.229,130.88,357.441,66.29,276.28,57.335C168.325,45.418,77.011,129.611,77.011,235.168c0,58.596,28.135,110.564,71.641,143.211c17.91,13.397,27.852,34.904,27.852,57.256v20.096c0,15.584,12.622,28.205,28.205,28.205h4.019v-23.551c0-5.5,4.442-9.942,9.942-9.942c5.5,0,9.942,4.442,9.942,9.942v23.551h17.417v-23.551c0-5.5,4.442-9.942,9.942-9.942c5.5,0,9.942,4.442,9.942,9.942v23.551h17.417v-23.551c0-5.5,4.442-9.942,9.942-9.942c5.5,0,9.942,4.442,9.942,9.942v23.551h4.019c15.583,0,28.205-12.622,28.205-28.205v-21.294C335.441,411.944,346.441,391.213,364.351,377.534z M178.348,316.953c-25.939,0-46.91-20.971-46.91-46.91c0-25.881,20.971-46.852,46.91-46.852c25.882,0,56.386,1.801,56.386,27.683C234.734,276.812,204.23,316.953,178.348,316.953z M274.753,392.246l-37.574-0.023c-9.197-0.006-14.707-10.226-9.656-17.913l18.78-28.579c4.567-6.951,14.759-6.951,19.326,0l18.795,28.602C289.477,382.025,283.956,392.251,274.753,392.246z M333.597,316.953c-25.882,0-56.386-40.141-56.386-66.08c0-25.882,30.504-27.683,56.386-27.683c25.939,0,46.91,20.971,46.91,46.852C380.507,295.982,359.536,316.953,333.597,316.953z" />
                        </svg>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 32 32"
                            viewBox="0 0 32 32">
                            <path
                                d="M28.903,13.632C28.297,9.253,24.661,6,20.374,6h-8.748c-4.287,0-7.922,3.253-8.529,7.632C3.028,14.131,2,21.376,2,21.88C2,24.155,3.788,26,5.993,26c1.513,0,2.895-0.882,3.572-2.278L12,19h8l2.435,4.722C23.111,25.118,24.494,26,26.007,26C28.212,26,30,24.155,30,21.88C30,21.376,28.972,14.131,28.903,13.632z M22,9c0.736,0,1.333,0.597,1.333,1.333c0,0.736-0.597,1.333-1.333,1.333s-1.333-0.597-1.333-1.333C20.667,9.597,21.264,9,22,9z M13,14h-2v2H9v-2H7v-2h2v-2h2v2h2V14z M19.333,14.333C18.597,14.333,18,13.736,18,13c0-0.736,0.597-1.333,1.333-1.333c0.736,0,1.333,0.597,1.333,1.333C20.667,13.736,20.07,14.333,19.333,14.333z M22,17c-0.736,0-1.333-0.597-1.333-1.333c0-0.736,0.597-1.333,1.333-1.333s1.333,0.597,1.333,1.333C23.333,16.403,22.736,17,22,17z M24.667,14.333c-0.736,0-1.333-0.597-1.333-1.333c0-0.736,0.597-1.333,1.333-1.333C25.403,11.667,26,12.264,26,13C26,13.736,25.403,14.333,24.667,14.333z" />
                        </svg>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                            <path
                                d="M33.83 18a3.33 3.33 0 0 1-3.33 3.33H28V28H21.33V25.5a3.33 3.33 0 1 0-6.67 0V28H8V8H28v6.67h2.5A3.33 3.33 0 0 1 33.83 18zM57 7V27H50.33v2.5a3.33 3.33 0 0 1-6.67 0V27H37V20.33h2.5a3.33 3.33 0 1 0 0-6.67H37V7zM21.17 47a3.33 3.33 0 0 0 3.33 3.33H27V57H7V37h6.67V34.5a3.33 3.33 0 0 1 6.67 0V37H27v6.67H24.5A3.33 3.33 0 0 0 21.17 47zM56 36V56H36V49.33H33.5a3.33 3.33 0 0 1 0-6.67H36V36h6.67v2.5a3.33 3.33 0 0 0 6.67 0V36z"
                                data-name="Layer 2" />
                        </svg>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 512 512">
                            <polygon points="256 157.73 235.86 184 276.14 184 256 157.73" />
                            <polygon points="167 309 215 309 215 243.506 167 289.546 167 309" />
                            <polygon
                                points="229 226.897 229 315.858 229 332 240.329 332 271.671 332 283 332 283 315.858 283 226.897 283 198 229 198 229 226.897" />
                            <path
                                d="M123.114,470H399.275a22.7,22.7,0,0,0,16.385-6.994,21.959,21.959,0,0,0,6.29-16.018c0-.071.05-.177.05-.249V75.139A33.333,33.333,0,0,0,388.873,42H123.093A33.322,33.322,0,0,0,90,75.16v361.7A33.321,33.321,0,0,0,123.114,470ZM268.55,447h-25.1a7,7,0,0,1,0-14h25.1a7,7,0,0,1,0,14ZM116,74a7,7,0,0,1,7-7H388a7,7,0,0,1,7,7V405a7,7,0,0,1-7,7H123a7,7,0,0,1-7-7Z" />
                            <polygon points="244.448 346 237.301 359 274.699 359 267.552 346 244.448 346" />
                            <polygon points="297 309 345 309 345 289.546 297 243.506 297 309" />
                            <path
                                d="M382,81H130V397H382ZM359,315.858c0,3.867-3.616,7.142-7.482,7.142H297v15.832A6.875,6.875,0,0,1,290.327,346h-6.76l9.148,16.457a6.985,6.985,0,0,1-.086,6.941A7.146,7.146,0,0,1,286.6,373H225.4a7.1,7.1,0,0,1-6.033-3.56,7.209,7.209,0,0,1-.086-7.059L228.433,346h-6.76A6.875,6.875,0,0,1,215,338.832V323H160.482c-3.866,0-7.482-3.275-7.482-7.142V286.6a7.442,7.442,0,0,1,2.516-5.011L215,223.947V191.078c0-.214-.15-.425-.131-.634,0-.02-.163-.04-.161-.059a7.1,7.1,0,0,1,.146-.869c.014-.061.031-.12.047-.181a6.805,6.805,0,0,1,.223-.71c.018-.05.034-.1.054-.149a6.95,6.95,0,0,1,.382-.8c.019-.034.041-.067.061-.1a7.145,7.145,0,0,1,.433-.656c.023-.031.04-.066.064-.1l34.327-44.775a7,7,0,0,1,11.11,0l34.327,44.775c.024.031.04.066.064.1a7.135,7.135,0,0,1,.432.656c.02.034.041.067.06.1a6.932,6.932,0,0,1,.379.8c.019.049.03.1.049.149a6.762,6.762,0,0,1,.213.71c.015.061.012.12.026.181a6.876,6.876,0,0,1,.1.869c0,.019-.08.039-.079.059.019.209-.131.42-.131.634v32.869l59.484,57.638A7.442,7.442,0,0,1,359,286.6Z" />
                        </svg>

                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 64 64"
                            viewBox="0 0 64 64">
                            <path
                                d="M9.967 41.663L9.967 41.663c-1.013-.047-1.872.736-1.919 1.749L8.016 44.1l-.688-.032c-1.013-.047-1.872.736-1.919 1.749-.047 1.013.736 1.872 1.749 1.919l4.355.202.202-4.355C11.763 42.57 10.98 41.71 9.967 41.663zM9.78 54.129l-4.355.202.202 4.355c.047 1.013.906 1.796 1.919 1.749 1.013-.047 1.796-.906 1.749-1.919l-.032-.688.688-.032c1.013-.047 1.796-.906 1.749-1.919v0C11.652 54.865 10.792 54.082 9.78 54.129z" />
                            <circle cx="6.718" cy="34.188" r="1.25" />
                            <circle cx="16.718" cy="60.438" r="1.25" />
                            <path
                                d="M28.759,9.813h17.464l-0.501-3.146c-0.449-2.82-3.096-4.739-5.915-4.289L15.447,6.259c-2.813,0.448-4.738,3.102-4.289,5.915L17.4,51.347c0.217,1.363,0.952,2.56,2.069,3.37c0.851,0.617,1.846,0.952,2.873,0.982v-39.47C22.343,12.691,25.221,9.813,28.759,9.813z" />
                            <path
                                d="M53.426,11.063H28.759c-2.849,0-5.167,2.318-5.167,5.167v39.667c0,2.849,2.318,5.167,5.167,5.167h24.667c2.849,0,5.167-2.318,5.167-5.167V16.229C58.593,13.38,56.275,11.063,53.426,11.063z M29.843,20.438c0,0.345-0.28,0.625-0.625,0.625s-0.625-0.28-0.625-0.625v-3.75c0-0.345,0.28-0.625,0.625-0.625s0.625,0.28,0.625,0.625V20.438z M47.365,36.553l-5.83,5.83c-0.117,0.117-0.276,0.183-0.442,0.183s-0.325-0.066-0.442-0.183l-5.83-5.83c-1.601-1.601-1.601-4.192,0-5.793c1.601-1.601,4.192-1.601,5.793,0l0.479,0.479l0.479-0.479c1.6-1.601,4.192-1.601,5.793,0c0.774,0.774,1.2,1.802,1.2,2.897S48.138,35.779,47.365,36.553z M53.593,55.438c0,0.345-0.28,0.625-0.625,0.625s-0.625-0.28-0.625-0.625v-3.75c0-0.345,0.28-0.625,0.625-0.625s0.625,0.28,0.625,0.625V55.438z" />
                            <path
                                d="M42.455,31.643l-0.921,0.921c-0.244,0.244-0.64,0.244-0.884,0l-0.921-0.921c-1.112-1.112-2.913-1.112-4.025,0c-1.112,1.113-1.113,2.913,0,4.026l5.388,5.388l5.388-5.388c0.538-0.538,0.834-1.252,0.834-2.013c0-0.76-0.296-1.475-0.834-2.013C45.368,30.531,43.568,30.531,42.455,31.643z" />
                        </svg>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" id="Layer_1" width="32" height="32" x="0"
                            y="0" version="1.0" viewBox="0 0 32 32" xml:space="preserve">
                            <path
                                style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;white-space:normal;isolation:auto;mix-blend-mode:normal;"
                                id="rect5665" fill="#000" fill-opacity="1" fill-rule="nonzero" stroke="none"
                                stroke-dasharray="none" stroke-dashoffset="0" stroke-linecap="round"
                                stroke-linejoin="round" stroke-miterlimit="4" stroke-opacity="1" stroke-width="1"
                                d="M 21.65625 7.1757812 C 20.531614 7.2605588 19.46106 7.8802391 18.851562 8.9238281 L 15.091797 15.363281 C 14.748359 15.951321 14.605453 16.597065 14.625 17.228516 L 14.625 13.900391 C 14.625 11.970029 13.055361 10.400391 11.125 10.400391 L 3.5351562 10.400391 C 1.604795 10.400391 0.03515625 11.970029 0.03515625 13.900391 L 0.03515625 21.335938 C 0.03515625 23.266299 1.604795 24.835938 3.5351562 24.835938 L 11.125 24.835938 C 13.055361 24.835938 14.625 23.266299 14.625 21.335938 L 14.625 17.375 C 14.706212 18.48304 15.314849 19.530241 16.353516 20.123047 L 22.927734 23.875 C 24.601492 24.830277 26.75332 24.245914 27.728516 22.576172 L 31.490234 16.136719 C 32.46543 14.466977 31.900321 12.33223 30.226562 11.376953 L 23.652344 7.625 C 23.024684 7.266771 22.331032 7.1249147 21.65625 7.1757812 z M 21.720703 8.1621094 C 22.201018 8.1270391 22.69659 8.2323477 23.148438 8.4902344 L 29.720703 12.240234 C 30.925629 12.927931 31.327164 14.433635 30.621094 15.642578 L 26.861328 22.080078 C 26.155258 23.289021 24.636567 23.699415 23.431641 23.011719 L 16.857422 19.259766 C 15.652494 18.572068 15.254868 17.068317 15.960938 15.859375 L 19.720703 9.4199219 C 20.161997 8.6643327 20.920179 8.2205598 21.720703 8.1621094 z M 21.871094 9.1445312 C 21.274193 9.187213 20.706943 9.5103029 20.386719 10.058594 C 19.874362 10.93586 20.183044 12.070051 21.066406 12.574219 C 21.949769 13.078387 23.097018 12.775703 23.609375 11.898438 C 24.121733 11.021171 23.81305 9.8869814 22.929688 9.3828125 C 22.598426 9.1937494 22.229234 9.1189222 21.871094 9.1445312 z M 22.099609 10.136719 C 22.210262 10.150865 22.321613 10.186641 22.425781 10.246094 C 22.842454 10.483905 22.978452 10.994463 22.740234 11.402344 C 22.502015 11.810225 21.986986 11.948749 21.570312 11.710938 C 21.15364 11.473126 21.015687 10.962568 21.253906 10.554688 C 21.43257 10.248777 21.767652 10.094281 22.099609 10.136719 z M 3.5351562 11.400391 L 11.125 11.400391 C 12.518659 11.400391 13.625 12.506732 13.625 13.900391 L 13.625 21.335938 C 13.625 22.729595 12.518659 23.835936 11.125 23.835938 L 3.5351562 23.835938 C 2.1414979 23.835938 1.0351562 22.729595 1.0351562 21.335938 L 1.0351562 13.900391 C 1.0351562 12.506732 2.1414979 11.400391 3.5351562 11.400391 z M 3.796875 12.28125 C 2.7791737 12.28125 1.9375002 13.10967 1.9375 14.125 C 1.9375002 15.14033 2.7791737 15.96875 3.796875 15.96875 C 4.8145763 15.96875 5.6562498 15.14033 5.65625 14.125 C 5.6562498 13.10967 4.8145763 12.28125 3.796875 12.28125 z M 27.992188 12.636719 C 27.395287 12.679401 26.826083 13.004444 26.505859 13.552734 C 25.993501 14.429999 26.302185 15.562237 27.185547 16.066406 C 28.06891 16.570574 29.216158 16.267891 29.728516 15.390625 C 30.240873 14.513359 29.93219 13.381121 29.048828 12.876953 C 28.717567 12.68789 28.350328 12.61111 27.992188 12.636719 z M 3.796875 13.28125 C 4.280326 13.28125 4.6562499 13.656371 4.65625 14.125 C 4.6562499 14.593629 4.280326 14.96875 3.796875 14.96875 C 3.313424 14.96875 2.9375001 14.593629 2.9375 14.125 C 2.9375001 13.656371 3.313424 13.28125 3.796875 13.28125 z M 28.220703 13.630859 C 28.331355 13.645005 28.440754 13.680782 28.544922 13.740234 C 28.961596 13.978046 29.099547 14.488603 28.861328 14.896484 C 28.62311 15.304362 28.106127 15.440937 27.689453 15.203125 C 27.27278 14.965314 27.136782 14.454756 27.375 14.046875 C 27.553664 13.740967 27.888746 13.588423 28.220703 13.630859 z M 23.164062 13.916016 C 22.567162 13.958697 21.999911 14.281787 21.679688 14.830078 C 21.16733 15.707344 21.476011 16.841535 22.359375 17.345703 C 23.242737 17.849872 24.389986 17.547188 24.902344 16.669922 C 25.414702 15.792656 25.106019 14.658465 24.222656 14.154297 C 23.891395 13.965234 23.522203 13.890407 23.164062 13.916016 z M 23.392578 14.908203 C 23.503231 14.922349 23.614581 14.960078 23.71875 15.019531 C 24.135424 15.257342 24.271421 15.765947 24.033203 16.173828 C 23.794984 16.58171 23.279955 16.720233 22.863281 16.482422 C 22.446607 16.24461 22.308657 15.734053 22.546875 15.326172 C 22.725539 15.020261 23.060621 14.865766 23.392578 14.908203 z M 18.337891 15.195312 C 17.74099 15.237994 17.171786 15.561084 16.851562 16.109375 C 16.339205 16.98664 16.649841 18.118879 17.533203 18.623047 C 18.416565 19.127215 19.561862 18.826484 20.074219 17.949219 C 20.586577 17.071953 20.277893 15.937762 19.394531 15.433594 C 19.06327 15.24453 18.696031 15.169703 18.337891 15.195312 z M 7.3300781 15.775391 C 6.3123763 15.775391 5.4707025 16.60381 5.4707031 17.619141 C 5.4707033 18.634471 6.3123768 19.462891 7.3300781 19.462891 C 8.3477794 19.462891 9.189453 18.634471 9.1894531 17.619141 C 9.1894537 16.60381 8.3477799 15.775391 7.3300781 15.775391 z M 18.566406 16.1875 C 18.677059 16.201646 18.786457 16.239375 18.890625 16.298828 C 19.307299 16.53664 19.44525 17.045244 19.207031 17.453125 C 18.968812 17.861006 18.453783 17.997577 18.037109 17.759766 C 17.620436 17.521955 17.482484 17.01335 17.720703 16.605469 C 17.899367 16.29956 18.234449 16.145063 18.566406 16.1875 z M 7.3300781 16.775391 C 7.8135293 16.775391 8.1894534 17.150512 8.1894531 17.619141 C 8.1894531 18.087769 7.8135291 18.462891 7.3300781 18.462891 C 6.8466272 18.462891 6.4707032 18.08777 6.4707031 17.619141 C 6.4707028 17.150511 6.8466269 16.775391 7.3300781 16.775391 z M 24.457031 18.6875 C 23.860131 18.730182 23.292879 19.055224 22.972656 19.603516 C 22.460298 20.480782 22.768982 21.613018 23.652344 22.117188 C 24.535707 22.621355 25.682954 22.320625 26.195312 21.443359 C 26.70767 20.566094 26.398987 19.431902 25.515625 18.927734 C 25.184364 18.738671 24.815172 18.661891 24.457031 18.6875 z M 10.863281 19.267578 C 9.8455801 19.267578 9.0039065 20.095998 9.0039062 21.111328 C 9.0039065 22.126659 9.8455801 22.955078 10.863281 22.955078 C 11.880982 22.955078 12.722656 22.126658 12.722656 21.111328 C 12.722656 20.095998 11.880982 19.267578 10.863281 19.267578 z M 24.685547 19.681641 C 24.796199 19.695786 24.90755 19.731563 25.011719 19.791016 C 25.428393 20.028828 25.564391 20.539384 25.326172 20.947266 C 25.087954 21.355147 24.572924 21.491718 24.15625 21.253906 C 23.739577 21.016095 23.601625 20.50749 23.839844 20.099609 C 24.018508 19.793698 24.35359 19.639203 24.685547 19.681641 z M 10.863281 20.267578 C 11.346732 20.267578 11.722656 20.642699 11.722656 21.111328 C 11.722656 21.579957 11.346732 21.955078 10.863281 21.955078 C 10.37983 21.955078 10.003906 21.579957 10.003906 21.111328 C 10.003906 20.642699 10.37983 20.267578 10.863281 20.267578 z "
                                baseline-shift="baseline" clip-rule="nonzero" color="#000" color-interpolation="sRGB"
                                color-interpolation-filters="linearRGB" color-rendering="auto" direction="ltr"
                                display="inline" enable-background="accumulate" font-family="sans-serif"
                                font-size="medium" font-stretch="normal" font-style="normal" font-variant="normal"
                                font-weight="400" image-rendering="auto" letter-spacing="normal" opacity="1"
                                overflow="visible" shape-rendering="auto" text-anchor="start" text-decoration="none"
                                text-rendering="auto" visibility="visible" word-spacing="normal" writing-mode="lr-tb" />
                        </svg>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                            viewBox="0 0 24 24">
                            <path
                                d="M23.992,4.85c-0.06-0.193-0.229-0.331-0.43-0.35L18.812,4l-1.87-3.72    c-0.149-0.246-0.468-0.325-0.714-0.176c-0.072,0.044-0.132,0.104-0.176,0.176L14.172,4l-4.73,0.5    C9.167,4.529,8.968,4.776,8.998,5.05c0.013,0.123,0.072,0.237,0.164,0.32l3.76,3.29l-1.41,4.69    c-0.078,0.265,0.073,0.543,0.338,0.621c0.128,0.038,0.265,0.023,0.382-0.041l4.26-2.37l4.26,2.37    c0.073,0.044,0.155,0.068,0.24,0.07l0,0c0.27,0.011,0.499-0.199,0.51-0.469c0-0.01,0.001-0.02,0-0.031    c0-0.096-0.027-0.19-0.08-0.27l-1.36-4.57l3.76-3.29C23.977,5.246,24.043,5.042,23.992,4.85z" />
                            <path
                                d="M10.552,13.07l1.13-3.77c0.056-0.188-0.002-0.391-0.15-0.52L9.992,7.4    c-0.148-0.131-0.36-0.163-0.54-0.08c-9.58,4.4-9.46,11.88-9.46,12.19c-0.015,0.276,0.196,0.512,0.471,0.527    C0.538,20.041,0.613,20.029,0.682,20l4.31-1.77c0.07,1.3,0.44,4,2.14,5.63c0.191,0.2,0.507,0.207,0.707,0.016    c0.09-0.086,0.144-0.202,0.153-0.326c0,0,0.51-5,3-8.35c0.16-0.187,0.16-0.463,0-0.65C10.581,14.177,10.411,13.607,10.552,13.07z" />
                        </svg>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" version="1"
                            viewBox="0 0 32 32">
                            <g transform="matrix(1.17119 0 0 1.16867 -966.123 -2161.965)">
                                <path
                                    d="m 838,834 -0.75,2.02636 -0.25,0 -1,0 c 0.0109,0.0181 0.0186,-0.0181 0.0293,0 -2.17917,0.24073 -2.73858,1.31511 -3.0293,1.97364 -0.32999,0.7475 -3,3 -3,3 -1,1 0,4 2,3 l 2,-1 c 1.52096,-0.18227 2.58686,-0.1621 3.23438,-0.62695 C 835.79017,846.60774 829.65671,848.20895 834,854 l 1,0 0,1 8,0 0,-1 1,0 c 0,-2 1.47047,-5.74112 1.76758,-8.85352 0.37845,-3.9645 -1.4064,-6.93988 -4.76758,-8.62048 l -1.25,-0.49964 z"
                                    transform="translate(0 1016.362)" />
                                <rect width="17.245" height="3.387" x="830.406" y="1873.621" stroke-linecap="round"
                                    style="isolation:auto;mix-blend-mode:normal" stroke-linejoin="round"
                                    stroke-width=".617" color="#000" overflow="visible" rx="1.294" ry="1.29" />
                                <rect width="12.298" height="1.574" x="832.862" y="1871.532" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width=".506" color="#000" overflow="visible"
                                    rx=".514" style="isolation:auto;mix-blend-mode:normal" ry=".515" />
                                <path d="m 830.43744,1860.0756 c 0.97655,-0.6276 1.99661,-1.2204 2.83224,-1.9608" />
                            </g>
                        </svg>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48"
                            viewBox="0 0 48 48">
                            <rect width="11" height="2" x="18.5" y="45" />
                            <rect width="2" height="2.4" x="23" y="1" />
                            <rect width="2.4" height="2" x="40.6" y="19" />
                            <rect width="2.4" height="2" x="5" y="19" />
                            <rect width="2.4" height="2" x="35.4" y="6.4" transform="rotate(-45.001 36.586 7.425)" />
                            <rect width="2.4" height="2" x="10.2" y="31.6" transform="rotate(-45.001 11.413 32.597)" />
                            <rect width="2" height="2.4" x="35.6" y="31.4" transform="rotate(-45.001 36.586 32.598)" />
                            <rect width="2" height="2.4" x="10.4" y="6.2" transform="rotate(-45.001 11.414 7.425)" />
                            <rect width="2.4" height="2" x="29.6" y="2.6" transform="rotate(-67.492 30.814 3.566)" />
                            <rect width="2" height="2.4" x="39.4" y="25.6" transform="rotate(-67.492 40.446 26.824)" />
                            <rect width="2" height="2.4" x="6.6" y="12" transform="rotate(-67.492 7.556 13.199)" />
                            <rect width="2.4" height="2" x="39.2" y="12.2" transform="rotate(-22.508 40.446 13.2)" />
                            <rect width="2.4" height="2" x="6.3" y="25.8" transform="rotate(-22.508 7.555 26.823)" />
                            <rect width="2" height="2.4" x="16.2" y="2.4" transform="rotate(-22.508 17.19 3.566)" />
                            <path d="M38.3,19.5c0-0.3,0-0.6,0-0.8l0-0.1c-0.2-0.9-0.6-1.7-1-2.2c0.1-0.1,0.1-0.2,0.2-0.3c1.2-2.2-0.6-4.3-2.6-5.5
c-0.3-2.9-2.7-4-4.3-4.2c-1.9-1.7-4.2-1.8-6.3-0.4C24.1,6,24,6,24,6c0,0-0.1-0.1-0.1-0.1c-2.2-1.4-4.4-1.3-6.3,0.4
c-1.6,0.2-4,1.3-4.3,4.2c-2,1.2-3.8,3.3-2.6,5.5c0.1,0.1,0.1,0.2,0.2,0.4c-0.4,0.5-0.8,1.3-1,2.2l0,0.2c0,0.2-0.1,0.5,0,0.7
c-0.2,4.8,2.1,9.4,6,12.2c1.7,1.2,2.7,3.2,2.7,5.5v5.5h11v-5.4c0-2.3,1-4.3,2.8-5.5c3.8-2.7,6-7,6-11.6
C38.3,19.8,38.3,19.7,38.3,19.5z M11.7,19.4L11.7,19.4c0-0.2,0-0.3,0-0.4l0-0.1c0.1-0.4,0.3-0.8,0.5-1.1c1.2,0.7,2.8,0.8,3.2,0.8
l0.1-2c-0.7,0-1.7-0.2-2.3-0.6l-0.5-0.5c-0.2-0.2-0.3-0.3-0.4-0.5c-0.5-0.9,0.5-1.9,1.3-2.5c1.2,2.1,3.8,3.1,3.9,3.1l0.7-1.9
c0,0-2.7-1.1-3.1-2.9c0-1.5,1-2.2,1.8-2.5c0.4,2.3,2.4,3.6,3.5,4l0.6-1.9c-0.1,0-2.2-0.8-2.2-2.9c1.2-1,2.4-1.1,3.8-0.2
c0.1,0.1,0.2,0.1,0.2,0.2v11.8H11.8C11.8,19.5,11.7,19.5,11.7,19.4z M27.5,40.6h-7v-2.2h7V40.6z M31.1,30c-2.1,1.5-3.4,3.8-3.6,6.4
H25v-6.5l4.2-4.2l-1.4-1.4L24,28.1l-3.8-3.8l-1.4,1.4l4.2,4.2v6.5h-2.5c-0.2-2.6-1.5-5-3.6-6.4c-2.8-2-4.7-5.1-5.1-8.4H23h2h11.2
C35.7,25,33.9,28,31.1,30z M36.3,19.4c0,0.1,0,0.1,0,0.2H25V7.8c0.1-0.1,0.1-0.1,0.2-0.2c1.4-0.9,2.6-0.8,3.8,0.2
c0,2.1-2.1,2.8-2.2,2.9l0.3,0.9l0.3,0.9c1.2-0.4,3.2-1.7,3.5-4c0.8,0.3,1.8,1,1.8,2.5c-0.4,1.5-2.4,2.6-3.1,2.9l0.4,0.9l0.4,0.9
c0.1-0.1,2.7-1.1,3.9-3.1c0.8,0.6,1.8,1.6,1.3,2.5c-0.1,0.2-0.2,0.3-0.4,0.5L34.7,16c-0.5,0.3-1.5,0.5-2.3,0.6l0.1,2
c0.4,0,2-0.1,3.2-0.8c0.2,0.3,0.4,0.7,0.5,1.1l0,0.1C36.3,19.1,36.3,19.3,36.3,19.4L36.3,19.4z" />
                        </svg>
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" id="Layer_1" width="32" height="32" x="0"
                            y="0" version="1.0" viewBox="0 0 32 32" xml:space="preserve">
                            <path id="path5805"
                                d="m 6.9331921,0.49997189 0,1.39449381 1.3941652,0 c 0,0.498511 0.022654,0.9324073 0.034054,1.3963344 l -5.1945425,0 c 0,6.699286 3.732108,9.5216949 7.4872542,10.9719879 1.5312,2.557848 3.253683,2.823668 3.253683,4.374516 l 0.558045,0 0,1.394397 0,0.02325 c -1.025951,0 -1.063512,1.575814 0,1.575814 -0.83693,0.558088 -1.116086,1.193314 -1.116089,2.030398 l -1.534149,0 c -0.386385,0 -0.69803,0.309898 -0.69803,0.696327 l 0,0.139982 -1.9522094,0 0,6.02822 -0.8493625,0 0,0.97428 15.3698689,0 0,-0.983919 -0.851254,0 0,-6.018581 -1.95221,0 0,-0.139982 c 0,-0.386429 -0.311644,-0.696327 -0.698029,-0.696327 l -1.534149,0 c 3e-6,-0.558088 -0.279154,-1.47231 -1.116089,-2.030398 1.063519,0 1.020613,-1.575814 0,-1.575814 l 0,-0.02325 0,-1.394397 0.558044,0 c 0,-1.550848 1.722483,-1.816668 3.253684,-4.374516 3.755144,-1.450293 7.487251,-4.2727019 7.487254,-10.9719879 l -5.177517,0 -0.01514,0 0,0 c 0,-0.2908001 0.03217,-1.3963344 0.03217,-1.3963344 l 1.394166,0 0,-1.39449381 z m -1.5163493,4.58971421 2.9823985,0 C 8.4856737,8 9,9.4279661 9.4839449,11.257329 6.6583628,10 5.5233051,7.5514834 5.4168428,5.0896861 Z M 23.634422,5.2254513 26.835148,5.1301123 C 26,10 22.415147,11.853778 22.415147,11.853778 c 0,0 1.005763,-2.4745947 1.219275,-6.6283267 z" />
                            <path id="path5811" fill="#000" fill-rule="evenodd" stroke="none" stroke-linecap="butt"
                                stroke-linejoin="miter" stroke-opacity="1" stroke-width="1"
                                d="m 14.465625,18.637207 0,1.395172" />
                            <path id="path5813" fill="#000" fill-rule="evenodd" stroke="none" stroke-linecap="butt"
                                stroke-linejoin="miter" stroke-opacity="1" stroke-width="1"
                                d="m 17.534377,18.637207 0,1.395172" />
                            <rect id="rect4210" width="9.562" height="3.101" x="11.219" y="26.404" fill="none"
                                fill-opacity="1" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                stroke-opacity="1" stroke-width="1" />
                        </svg>

                    </div>
                    <% } %>
            </div>
            <% } %>

    </section>
    <section class="form-page">
        <section class="form-background card">

            <div class="form-heading">
                <h2>
                    Register
                </h2>
            </div>
            <form action="/register" method="POST" class="form-fields">
                <div class="form-field">
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstName" id="firstname" placeholder="firstname">
                </div>
                <div class="form-field">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastname" placeholder="lastname" </div>
                    <div class="form-field">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" placeholder="email">
                    </div>
                    <div class="form-field">
                        <label for="username">Username</label>
                        <input type="text" name="username" placeholder="username">
                    </div>
                    <div class="form-field">
                        <label for="password">Password</label>
                        <input type="passwocrd" name="password" placeholder="password">
                    </div>
                    <div class="form-field-input">
                        <input type="submit" name="submit" id="submit" value="Register" class="btn btn-submit" />
                    </div>
            </form>
        </section>
    </section>
    <script src="/javascript/hoveringForm.js"></script>

</body>

</html>